{% extends 'base.html' %}
{% block content %}

<h1>Exercise Details</h1>
<div class="row">
	<div class="card col s6">
		<div class="card-content">
			<span class="card-title">{{ exercise.name }}</span>
			<div><strong>Category: </strong>{{exercise.category}}</div>
			<div><strong>Equipment: </strong>{{exercise.equipment}}</div>
			<div><strong>Weights: </strong>{{exercise.weights}}</div>
			<div><strong>Reps: </strong>{{exercise.reps}}</div>
			<div><strong>Sets: </strong>{{exercise.sets}}</div>
		</div>
		<div class="card-action">
		<a href="{% url 'exercises_update' exercise.id %}">Edit</a>
		<a href="{% url 'exercises_delete' exercise.id %}">Delete</a>
		</div>
	</div>
	<div class="col s6">
		{% for photo in exercise.photo_set.all %}
			<img src="{{ photo.url }}" alt="photo-of-exercise" class="responsive-img 
			card-panel">
		{% empty %}
			<div class="card-panel teal-text center-align">No Photos</div>
		{% endfor %}
	</div>
</div>

<form action="{% url 'add_photo' exercise.id %}" method="POST" 
class="card-panel" enctype="multipart/form-data">
     {% csrf_token %}
     <input type="file" name="photo-file">
     <br><br>
     <button class="btn" type="submit">Upload Photo</button>
</form>
{% endblock %}