{% extends 'base.html' %}
{% block content %}

<h1> Workout Details </h1>
<div class="col">
    <div class="card">
        <div class="car-content">
            <span class="card-title">{{ workout.name }}</span>
            <p>Duration: {{ workout.duration }}</p>
            <p>Description: {{ workout.description }}</p>
        </div>
    </div>
</div>
<div class="col s5">
    <form action="{% url 'add_exercise' workout.id %}" method="POST">
        {% csrf_token %}
        {{ exercise_form.as_p }}
        <input type="submit" class="btn" value="Add Exercise">
    </form>
</div>
<script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    const categoryEl = document.getElementById('id_category');
        M.FormSelect.init(categoryEl);

    const equipEl = document.getElementById('id_equipment')
        M.FormSelect.init(equipEl);
  </script>

{% endblock%}