{% extends 'base.html' %}
{% block content %}
<body class="background-image">
</body>
<h2 class="text-outline" style="color: #4B9CD3; margin-bottom: 10vmin; text-decoration: underline; text-align: center;">About GymGrid</h2>
<p class="text-outline" style="font-size: 22px; color: #4B9CD3; margin-bottom: 10vmin;">
    Effortlessly plan and track your fitness journey with GymGrid. Create customized workout routines and stay motivated as you achieve your fitness goals. Whether you're a beginner or a seasoned athlete, our user-friendly app makes it easy to schedule and monitor your workouts, ensuring you stay on the path to a healthier, stronger you.
</p>

<h3 class="text-outline" style="color: #4B9CD3; margin-bottom: 5vmin; text-decoration: underline; text-align: center;">Our Team</h3>
<div  style="text-align: center; position: relative;">
    <h4 class="text-outline" style="color: #4B9CD3;">Jade Wang</h4>
    <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
        <!-- Jade's about me here... -->
    </p>
    <div class="social-links">
        <a href="https://linkedin.com/in/jade-c-w/" target="_blank">
            <img src="../static/images/linkedin.png" alt="linkedin-icon">
        </a>
        <a href="https://github.com/jadewang425" target="_blank">
            <img src="../static/images/github.png" alt="linkedin-icon">
        </a>
        <a href="mailto:jadewang425@gmail.com">
            <img src="../static/images/gmail.png" alt="Email Icon">
        </a>
    </div>
    </div>
<div  style="text-align: center; position: relative;">
    <h4 class="text-outline" style="color: #4B9CD3;">Kai Swendseid</h4>
    <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
        <!-- Kai's about me here... -->
    </p>
    <div class="social-links">
        <a href="https://linkedin.com/in/kxiside/" target="_blank">
            <img src="../static/images/linkedin.png" alt="linkedin-icon">
        </a>
        <a href="https://github.com/kxiside" target="_blank">
            <img src="../static/images/github.png" alt="linkedin-icon">
        </a>
        <a href="mailto:swendside@gmail.com">
            <img src="../static/images/gmail.png" alt="Email Icon">
        </a>
    </div>
    </div>
<div  style="text-align: center; position: relative;">
    <h4 class="text-outline" style="color: #4B9CD3;">Brendin Moss</h4>
    <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
        <!-- Hi, my name's Brendin Moss and I hold a Bachelor's degree in Business Administration and am<br>
        a tech enthusiastwith a deep interest in programming. Committed to constant growth, <br>
        I've attended a coding boot camp to refine my skills. My goal is to bridge my business<br>
        acumen with technical expertise to excel in software engineering.<br>
         I'm a quick learner and a team player, eager to contribute to innovative projects <br>
         in this dynamic industry. If you're seeking a software engineer with a blend of business <br>
         insights and technical passion, let's connect. -->
    </p>
    <div class="social-links">
        <a href="https://linkedin.com/in/brendinmoss/" target="_blank">
            <img src="../static/images/linkedin.png" alt="linkedin-icon">
        </a>
        <a href="https://github.com/brendinsgit" target="_blank">
            <img src="../static/images/github.png" alt="linkedin-icon">
        </a>
        <a href="mailto:brendin0702@gmail.com">
            <img src="../static/images/gmail.png" alt="Email Icon">
        </a>
    </div>
    </div>

{% endblock %}