{% extends 'base.html' %}

{% block content %}
<body class="background-image-about">
</body>
<h1 class="text-outline" style="color: #4B9CD3; margin-bottom: 10vmin; font-size: 80px; text-decoration: underline; text-align: center;">Our Team</h1>
<div style="display: flex; justify-content: space-between;">
    <div class="cool-box" style="text-align: center; position: relative;">
        <h1 class="text-outline" style="color: #4B9CD3;">Jade Wang</h1>
        <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
            <!-- Jade's about me here... -->
        </p>
        <div class="social-links">
            <a href="https://linkedin.com/in/brendinmoss/" target="_blank">
                <img src="../static/images/linkedin.png" alt="linkedin-icon">
            </a>
            <a href="https://github.com/brendinsgit" target="_blank">
                <img src="../static/images/github.png" alt="linkedin-icon">
            </a>
            <a href="mailto:brendin0702@gmail.com">
                <img src="../static/images/gmail.png" alt="Email Icon">
            </a>
        </div>
        </div>
    <div class="cool-box" style="text-align: center; position: relative;">
        <h1 class="text-outline" style="color: #4B9CD3;">Kai Swendseid</h1>
        <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
            <!-- Kai's about me here... -->
        </p>
        <div class="social-links">
            <a href="https://linkedin.com/in/brendinmoss/" target="_blank">
                <img src="../static/images/linkedin.png" alt="linkedin-icon">
            </a>
            <a href="https://github.com/brendinsgit" target="_blank">
                <img src="../static/images/github.png" alt="linkedin-icon">
            </a>
            <a href="mailto:brendin0702@gmail.com">
                <img src="../static/images/gmail.png" alt="Email Icon">
            </a>
        </div>
        </div>
    <div class="cool-box" style="text-align: center; position: relative;">
        <span class="user-icon"></span>
        <h1 class="text-outline" style="color: #4B9CD3;">Brendin Moss</h1>
        <p class="text-outline" style="font-size: 22px; color: #4B9CD3;">
            <!-- Hi, my name's Brendin Moss and I hold a Bachelor's degree in Business Administration and am<br>
            a tech enthusiastwith a deep interest in programming. Committed to constant growth, <br>
            I've attended a coding boot camp to refine my skills. My goal is to bridge my business<br>
            acumen with technical expertise to excel in software engineering.<br>
            I'm a quick learner and a team player, eager to contribute to innovative projects <br>
            in this dynamic industry. If you're seeking a software engineer with a blend of business <br>
            insights and technical passion, let's connect. -->
        </p>
        <div class="social-links">
            <a href="https://linkedin.com/in/brendinmoss/" target="_blank">
                <img src="../static/images/linkedin.png" alt="linkedin-icon">
            </a>
            <a href="https://github.com/brendinsgit" target="_blank">
                <img src="../static/images/github.png" alt="linkedin-icon">
            </a>
            <a href="mailto:brendin0702@gmail.com">
                <img src="../static/images/gmail.png" alt="Email Icon">
            </a>
        </div>
        </div>
</div>
{% endblock %}