{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Grid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav class="black">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;GymGrid</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/about">About</a></li>
                    <li><a href="{% url 'workouts_create' %}">Create Workout</a></li>
                    <li><a href="{% url 'index' %}">Workouts</a></li>
                    <li><a href="{% url 'exercises_create' %}">Create Exercise</a></li>
                    <li><a href="{% url 'exercises_index' %}">View All Exercises</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
    {% block content %}
    
    {% endblock %}
    </main>
    <footer class="page-footer black">
        <div class="right">All Rights Reserved, &copy; GymGrid &nbsp;</div>
    </footer>
</body>
</html>