body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }