body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}
  
main {
  flex: 1 0 auto;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.background-image-about {
  background-image: url('../images/annie-spratt-sggw4-qDD54-unsplash.jpg');
  background-size:cover;
}

.text-outline {
  text-shadow: -0.3px -0.3px 0 #fff, 0.3px -0.3px 0 #fff, -0.3px 0.3px 0 #fff, 0.3px 0.3px 0 #fff;
}


.css-animated-gradient {
  background: linear-gradient(270deg, #4b9cd3, #74d34b, #4b74d3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.cool-box {
box-shadow: rgba(75, 116, 211, 0.4) 5px 5px, rgba(75, 116, 211, 0.3) 10px 10px, rgba(75, 116, 211, 0.2) 15px 15px, rgba(75, 116, 211, 0.1) 20px 20px, rgba(75, 116, 211, 0.05) 25px 25px;
}

.cool-box-create-page{
  box-shadow: rgba(255, 255, 255, 0.9) 0px 25px 20px -20px;
}

.add-exercise-background {
    background-image: url('../images/todd-quackenbush-E9PJO_vL3E8-unsplash.jpg');
}

.workout-form-background {
  background-image: url('../images/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
}